

        <main>
            <h1>Retro-game Sprite !</h1>
            <section id="map">
                <div id="perso" class="positionRight-1" style="position: absolute; ">
                
                </div>
                <div id="resultMap"></div>
            </section>
            <h2>Use the following commands on your keyboard to make me move</h2>
            <ul>
                <li>S : to the bottom</li>
                <li>Z : to the top</li>
                <li>Q : to the left </li>
                <li>D : to the right</li>
            </ul>
        </main>
       